@charset "UTF-8";

body {
    background-color: rgb(97, 200, 210);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}
h1 {
    font-weight: bold;
    font-size: 1.6em;
    font-family: 'Anton', sans-serif;
    color: rgb(65, 64, 64);
}

header {
    color: white;
    text-align: center;

}

img {
    width: 50%;
    border-radius: 50%;
}

img:hover {
    transform: scale(1.07);
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.096);
}

footer {
    color: white;
    text-align: center;

}
